<%- include("header") -%>
  <body>

<form  action="/" method="post">

    <div class="input-group mb-3">
 <select class="custom-select" name="select">
   <option selected>Select State Name</option>
   <option value="AP">Andhra Pradesh</option>
   <option value="AR">Arunachal Pradesh</option>
   <option value="AS">Assam</option>
   <option value="BR">Bihar</option>
   <option value="CT">Chhattisgarh</option>
   <option value="GA">Goa</option>
   <option value="GJ">Gujrat</option>
   <option value="HR">Haryana</option>
   <option value="HP">Himachal Pradesh</option>
   <option value="JK">Jammu and Kashmir</option>
   <option value="JH">Jharkhand</option>
   <option value="KA">Karnataka</option>
   <option value="KL">Kerala</option>
   <option value="MP">Madhya Pradesh</option>
   <option value="MH">Maharashtra</option>
   <option value="ML">Meghalaya</option>
   <option value="MZ">Mizoram</option>
   <option value="NL">Nagaland</option>
   <option value="OR">Odisha (Orissa)</option>
   <option value="PB">Punjab</option>
   <option value="RJ">Rajasthan</option>
   <option value="SK">Sikkim</option>
   <option value="TN">Tamil Nadu</option>
   <option value="TR">Tripura</option>
   <option value="UP">Uttar Pradesh</option>
   <option value="UT">Uttarakhand</option>
   <option value="WB">West Bengal</option>
 </select>
</div>
<div class="sbtn">
  <button class="btn btn-primary " type="submit" name="button">Submit</button>
</div>
</form>

  </body>


</html>
<%- include("footer") -%>
